.container {
    display: flex;
    }
    
.container__border {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
.titulo {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    }
    
.indice {
    font-size: 48px;
    font-weight: bold;
    }
    
.nivel {
    font-size: 24px;
    font-weight: 600;
    }
    
.bom {
    color: #4ca8af; /* Verde para índice normal */
    }

.ruim {
    color: #d50000; /* Vermelho escuro para perigo extremo */
    }